basics of string on 15 may 2022 
indexes,
forward and backward index

In [1]:
m="mitesh"
m

'mitesh'

In [2]:
m.upper

In [3]:
m.upper()

'MITESH'

In [4]:
m.capitalize()

'Mitesh'

In [5]:
s="ineuron"
s[0]

'i'

In [6]:
s[-1]

'n'

In [7]:
s[-4]

'u'

In [9]:
s1="sudh"
s1[2]

'd'

In [17]:
g="this is my first programming class's"

In [18]:
g

"this is my first programming class's"

In [19]:
g[0]

't'

In [22]:
g[0:5]

'this '

In [23]:
g[0:15]

'this is my firs'

In [24]:
g[6:20]

's my first pro'

In [26]:
g[3:20:3]

'ssyitr'

In [42]:
s2="sudhanshu"
s2

'sudhanshu'

In [43]:
s2[0:8:1]

'sudhansh'

The below example output is blank as we are moving from a  small positve index to a  large positive index with a negative jump which would always go in the directin before the string hence blank

In [32]:
s2[0:5:-1]

''

here we are moving from a

In [56]:
s2[8:0:-1]

'uhsnahdu'

In [44]:
s2[8:0:-2]

'usad'

In [51]:

s2[3:]

'hanshu'

In [52]:
s2[-2:]

'hu'

in this way we start from the uper limit that is -2 and end at default jump that is 1 hence the output

s2[::1]

In [53]:
s2[::1]

'sudhanshu'

In [54]:
s2[::-1]

'uhsnahdus'

In [57]:
s3='ineuron'
s3

'ineuron'

In [58]:
s3[::-1]

'norueni'

In [61]:
s3[-1:-7:-1]

'noruen'

In [66]:
s3[-7:-2:-2]

''

In [67]:
s2

'sudhanshu'

In [68]:
s2[:-1:-1]

''

above exmaple two diffrent direcction hence the answer is blank

all examples are called slicing and indexing in  string

In [69]:
s2[-7:0:1]

''

In [70]:
s

'ineuron'

In [74]:
s+'11111'

'ineuron11111'

In [72]:
type(1)

int

TYPECASTINGis that str(1)
and the total command is called concationation

In [75]:
s+str(10)

'ineuron10'

In [76]:
len(s)

7

In [77]:
count(s)

NameError: name 'count' is not defined

In [78]:
s(count)

NameError: name 'count' is not defined

In [79]:
s*2

'ineuronineuron'

In [80]:
s*str(2)

TypeError: can't multiply sequence by non-int of type 'str'

In [81]:
s*4

'ineuronineuronineuronineuron'

In [82]:
s.casefold()

'ineuron'

In [85]:
s.center

In [93]:
s="Mitesh Ramesh patel"

In [94]:
s

'Mitesh Ramesh patel'

In [96]:
s.count('s')

2

In [98]:
s.split('h')

['Mites', ' Rames', ' patel']

In [99]:
sw=""""The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]"""

In [100]:
sw

'"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]'

In [101]:
sw[0]

'"'

In [102]:
sw[-1]

']'

In [107]:
sw.count('Korea')

4

In [111]:
type(sw.split(" "))

list

In [105]:
type(sw)

str

In [108]:
sw

'"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]'

In [119]:
sw.count('South Korean')

2

In [118]:
sw.count('The')

1

In [120]:
sw.upper

In [121]:
sw.upper(sw)

TypeError: str.upper() takes no arguments (1 given)

In [122]:
sw.upper

In [123]:
sw

'"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]'

In [124]:
sw.upper('sw')

TypeError: str.upper() takes no arguments (1 given)

In [125]:
sw.upper

In [126]:
sw.upper('sw')

TypeError: str.upper() takes no arguments (1 given)

In [127]:
sw

'"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]'

In [128]:
sw.upper()

'"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]'

In [129]:
sw.lower()

'"the samsung group[3] (or simply samsung, stylized as sλmsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the 8th highest global brand value.[4]'

In [130]:
sw.capitalize()

'"the samsung group[3] (or simply samsung, stylized as sλmsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the 8th highest global brand value.[4]'

In [132]:
sw.find('the')

254

In [133]:
sw.upper()

'"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]'

In [134]:
r="one the go"
r

'one the go'

In [135]:
r[-7:-1:1]

' the g'

In [136]:
r[-1:-7:-1]

'og eht'

In [137]:
r[4:1:6]

''

In [139]:
r[4:-1:1]

'the g'